@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

$fontBarlow: 'Barlow', sans-serif;
$fontYoung: 'Young', serif;
$widthcont: 100%;
$pad5: 5px;
%h2 {
    color: rgba(44, 28, 2, 70%);
    font-size: 16px;
    font-family: $fontYoung;
    font-weight: 600;
}


