<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Baguette panadería-pastelería.Contactate con nosotros, dejanos tu consulta.Te responderemos a la brevedad.</title>
    <meta name="keywords" content="Panadería Baguette,Baguette Av.Lavalle Posadas,Baguette,Panadería,Pastelería,Refrigerios,Refrigerios saludables,Lunch">
    <meta name="description" content="Te invitamos a conocernos, tenemos más de 60 años de trayectoria. Además brindamos Servicios de Lunch y Repartos a domicilio">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/logopan2.png" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">
    <script src="https://kit.fontawesome.com/1990a318e1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contprincipal">
        <header>
            <div class="titheader">
                <h1>Baguette <span class="titprinc">panadería-pastelería</span>
                <img src="./images/logopan2.png" alt="Logo de Baguette"></h1>
            </div>
            <nav class="barranav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="./images/iconomenham.png"></label>
                <ul class="menu">
                    <li><a href="../../index.html">Nuestra Empresa</a></li>
                    <li><a href="./nuestrosproductos.html">Nuestros Productos</a></li>
                    <li><a href="./vereventos.html">Galería de Imágenes</a></li>
                    <li class="active"><a href="contacto.html">Contacto-Ubicación</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside class="aside1"></aside>
            <div class="pageimagmain">
                <div class="imagesmain">
                    <h2>Contacto</h2>
                    <form>
                        <div class="mb-4 container">
                            <div class="row d-flex justify-content-start align-items-center">
                                <input type="text" class="form-control-md col-8 w-50" id="nombre" placeholder="Nombre">
                            </div>
                        </div>
                            
                        <div class="mb-4 container">
                            <div class="row d-flex justify-content-start align-items-center">
                                <input type="email" class="form-control-md col-8 w-50" id="email" placeholder="Email">
                            </div>                            
                        </div>

                        <div class="mb-4 container">
                            <div class="row d-flex justify-content-start align-items-center">
                                <textarea class="form-control-lg col-8 w-50" id="consulta" rows="3" placeholder="Consulta"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-6 pt-3">
                                <button type="submit" class="btn btn-block btn-warning btn-xs">Enviar</button>
                            </div>
                            <div class="col-md-2 col-xs-6 pt-3">
                                <button type="reset" class="btn btn-block btn-warning btn-xs">Borrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="contactoubicacion">
                    <h2>Nuestra ubicación</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14169.413615916092!2d-55.9276020856317!3d-27.39590203422945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457bef5f4f0dc23%3A0xf8b4e8c31784ccac!2sFrancia%20%26%20Avenida%20General%20Lavalle%2C%20Posadas%2C%20Misiones!5e0!3m2!1ses-419!2sar!4v1694104810198!5m2!1ses-419!2sar" width="550" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="footermain">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>    
                </div>  
            </div>
            <aside class="aside2"></aside>
        </main>
        <footer>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>