<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Baguette panadería-pastelería. Gama amplia de productos de panadería,pastelería y opciones saladas para refrigerios</title>
        <meta name="keywords" content="Panadería Baguette,Baguette Av.Lavalle Posadas,Baguette,Panadería,Pastelería,Refrigerios,Refrigerios saludables,Lunch">
        <meta name="description" content="Te invitamos a conocernos, tenemos más de 60 años de trayectoria. Además brindamos Servicios de Lunch y Repartos a domicilio">        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="shortcut icon" href="./images/logopan2.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../estilos.css">
        <script src="https://kit.fontawesome.com/1990a318e1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="contprincipal">
            <header>
                <div class="titheader">
                    <h1>Baguette <span class="titprinc">panadería-pastelería</span></h1>
                </div>
                <nav class="barranav">
                    <input type="checkbox" id="btn-menu">
                    <label for="btn-menu"><img src="./images/iconomenham.png"></label>
                    <ul class="menu">
                        <li><a href="../../index.html">Nuestra Empresa</a></li>
                        <li class="active"><a href="nuestrosproductos.html">Nuestros Productos</a></li>
                        <li><a href="./vereventos.html">Galería de Imágenes</a></li>
                        <li><a href="./contacto.html">Contacto-Ubicación</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <aside class="aside1">
                </aside>
                <div class="pageimagmain">
                    <div class="imagesmain">
                        <img src="./images/panifi4.jpg" alt="Variedad de panes">
                        <img src="./images/facturas3.jpg" alt="Variedad de facturas">
                        <img src="./images/ciabatta1.jpg" alt="Variedad de panes">
                        <img src="./images/sandwichmiga1.jpg" alt="Sandwiches de miga">
                        <img src="./images/sandwichmila.jpg" alt="Sandwich de milanesa">

                        <img src="./images/picadass2.jpg" alt="Picada">
                        <img src="./images/pizzas1.jpg" alt="Pizzas en porciones">
                        <img src="./images/pizzacebolla.jpg" alt="Pizzas cebolla">
                        <img src="./images/ensaladas2.jpg" alt="Ensalada">
                        <img src="./images/tartitasal.jpg" alt="Tartitas Saladas">

                        <img src="./images/minitartas.jpg" alt="Tartitas dulces">
                        <img src="./images/pandulcehelado.jpg" alt="Pan dulce helado">
                        <img src="./images/torta1.jpg" alt="Bombones">
                        <img src="./images/torta4.jpg" alt="Pan dulce helado">
                        <img src="./images/bombones.jpg" alt="Bombones">
                    </div>  
                    <div class="textomain">
                        <h2>Nuestros Productos</h2>
                        <p>A través de los años nos encontramos mejorando y actualizando los productos que ofrecemos a nuestros clientes, destacamos los productos de Cafetería, Confitería y Panadería.</p>
                    </div>
                    <div class="menumain">
                        <ul>
                            <li><a href="./panaderia.html">Panadería</a></li>
                            <li><a href="./pasteleria.html">Pastelería</a></li>
                        <li><a href="./opcionessaladas.html">Opciones Saladas</a></li>
                        </ul>
                    </div>
                    <div class="footermain">
                        <i class="fa-brands fa-facebook fa-2xl"></i>
                        <i class="fa-brands fa-instagram fa-2xl"></i>    
                    </div>        
                </div>
                <aside class="aside2"></aside>
            </main>
            <footer>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    </html></html>


