<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Baguette panadería-pastelería.Panes tradicionales,especiales,pizzas prelistas,variedad de facturas y medialunas</title>
    <meta name="keywords" content="Panadería Baguette,Baguette Av.Lavalle Posadas,Baguette,Panadería,Pastelería,Refrigerios,Refrigerios saludables,Lunch">
    <meta name="description" content="Te invitamos a conocernos, tenemos más de 60 años de trayectoria. Además brindamos Servicios de Lunch y Repartos a domicilio">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/logopan2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">
    <script src="https://kit.fontawesome.com/1990a318e1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contprincipal">
        <header>
            <div class="titheader">
                <h1>Baguette <span class="titprinc">panadería-pastelería</span></h1>
            </div>
            <nav class="barranav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="./images/iconomenham.png"></label>
                <ul class="menu">
                    <li><a href="../../index.html">Nuestra Empresa</a></li>
                    <li class="active"><a href="nuestrosproductos.html">Nuestros Productos</a></li>
                    <li><a href="./vereventos.html">Galería de Imágenes</a></li>
                    <li><a href="./contacto.html">Contacto-Ubicación</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside class="aside1">
            </aside>
            <div class="pageimagmain">
                <div class="imagesmain">
                    <img src="./images/pantradicional.jpg" alt="Pan tradicional">
                    <img src="./images/panesenrebanada.jpg" alt="Panes de molde en rebanadas">
                    <img src="./images/galletas.jpg" alt="Galletas">
                    <img src="./images/ciabatas.jpg" alt="Panes ciabatta">
                    <img src="./images/arossalados.jpg" alt="Aros de hojaldre">

                    <img src="./images/cuernitos.jpg" alt="Cuernitos de hojaldre">
                    <img src="./images/pancriollo.jpg" alt="Libritos de hojaldre">
                    <img src="./images/pizzaprel1.jpg" alt="Pizza prelista">
                    <img src="./images/pizzaprel2.jpg" alt="Pizza prelista">
                    <img src="./images/pizzaprel3.jpg" alt="Pizza prelista">

                    <img src="./images/medialunas.jpg" alt="Medialunas saladas">
                    <img src="./images/facturas1.jpg" alt="Variedad de facturas">
                    <img src="./images/facturas2.jpg" alt="Variedad de facturas">
                    <img src="./images/facturas5.jpg" alt="Variedad de facturas">
                    <img src="./images/facturas4.jpg" alt="Variedad de facturas">
                </div>  
                <div class="textomain">
                    <h2>Panadería</h2>
                    <ul>
                        <li>PANES CLÁSICOS</li>
                        <li>PANES ESPECIALES</li>
                        <li>PANES SABORIZADOS</li>
                        <li>PANES DE MOLDE EN REBANADAS</li>
                        <li>PANES DE GRASA</li>
                        <li>FACTURAS</li>
                        <li>GALLETAS</li>
                        <li>PREPIZZAS</li>
                        <li>CIABATTAS</li>
                    </ul>
                </div>
                <div class="menumain">
                    <ul>
                        <li><a href="./pasteleria.html">Pastelería</a></li>
                    <li><a href="./opcionessaladas.html">Opciones Saladas</a></li>
                    </ul>
                </div>
                <div class="footermain">
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-brands fa-instagram fa-2xl"></i>    
                </div>    
            </div>
            <aside class="aside2"></aside>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>