<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Baguette panadería-pastelería.Variedad de tortas,tartas,pan dulce,budines,cupcakes,brownies,bombones,masas finas</title>
    <meta name="keywords" content="Panadería Baguette,Baguette Av.Lavalle Posadas,Baguette,Panadería,Pastelería,Refrigerios,Refrigerios saludables,Lunch">
    <meta name="description" content="Te invitamos a conocernos, tenemos más de 60 años de trayectoria. Además brindamos Servicios de Lunch y Repartos a domicilio">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/logopan2.png" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">
    <script src="https://kit.fontawesome.com/1990a318e1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contprincipal">
        <header>
            <div class="titheader">
                <h1>Baguette <span class="titprinc">panadería-pastelería</span>
                <img src="./images/logopan2.png" alt="Logo de Baguette"></h1>
            </div>
            <nav class="barranav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="./images/iconomenham.png"></label>
                <ul class="menu">
                    <li><a href="../../index.html">Nuestra Empresa</a></li>
                    <li class="active"><a href="nuestrosproductos.html">Nuestros Productos</a></li>
                    <li><a href="./vereventos.html">Galería de Imágenes</a></li>
                    <li><a href="./contacto.html">Contacto-Ubicación</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside class="aside1">
            </aside>
            <div class="pageimagmain">
                <div class="imagesmain">
                    <img class="img1" src="./images/cheesecake.jpg" alt="Cheesecake">
                    <img class="img1" src="./images/tortanevada.jpg" alt="Torta nevada">
                    <img class="img1" src="./images/tortasenporciones.jpg" alt="Variedad de porciones de tortas">
                    <img class="img1" src="./images/torta2.jpg" alt="Torta para eventos">
                    <img class="img1" src="./images/variedademasas.jpg" alt="Variedad de masas finas">

                    <img class="img1" src="./images/rosquillasdulces.jpg" alt="Variedad de rosquitas dulces">
                    <img class="img1" src="./images/muffins.jpg" alt="Muffins">
                    <img class="img1" src="./images/tartadefrutas.jpg" alt="Tartitas">

                    <img class="img1" src="./images/strudel.jpg" alt="Strudel">
                    <img class="img1" src="./images/panesdulces.jpg" alt="Variedad de Pan dulce">
                    <!-- <img class="img1" src="./images/pandulcesp1.jpg" alt="Pan dulce con láminas de chocolate"> -->
                    <img class="img1" src="./images/florentinos.jpg" alt="Florentinos de frutos secos">
                    <img class="img1" src="./images/bombones1.jpg" alt="Bombones">
                </div>  
                <div class="listprod"> 
                    <ul>
                        <li>TORTAS Y TARTAS</li>
                        <li>POSTRES SEMIFRÍOS</li>
                        <li>PAN DULCE Y BOMBONES</li>
                        <li>BUDINES Y ROSCAS</li>
                        <li>BROWNIES Y ALFAJORES</li>
                        <li>CUADRADOS Y TARTITAS</li>
                        <li>FROLAS-MASAS FINAS Y EUROPEAS</li>
                        <li>STRUDEL</li>
                        <li>FLORENTINOS</li>
                        <li>CUPCAKES Y PORCIONES DE TARTAS</li>
                    </ul>
                </div>
                <div class="slogan">
                    <p>
                        "Orgullosos de ofrecer productos<br> premiun elaborados con materia<br> prima de excelente calidad."                            
                    </p>
                </div>
                <div class="menumain">
                    <ul>
                        <li><a href="./panaderia.html">Panadería</a></li>
                        <li class="active1"><a href="pastelería.html">Pastelería</a></li>
                        <li><a href="./opcionessaladas.html">Opciones Saladas</a></li>
                        </ul>
                </div>
                <div class="footermain">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>    
                </div>    
            </div>
            <aside class="aside2"></aside>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>