<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Baguette panadería-pastelería.Mirá nuestra galería de eventos.Visitanos, contratá nuestros servicios.</title>
    <meta name="keywords" content="Panadería Baguette,Baguette Av.Lavalle Posadas,Baguette,Panadería,Pastelería,Refrigerios,Refrigerios saludables,Lunch">
    <meta name="description" content="Te invitamos a conocernos, tenemos más de 60 años de trayectoria. Además brindamos Servicios de Lunch y Repartos a domicilio">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/logopan2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">
    <script src="https://kit.fontawesome.com/1990a318e1.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="contprincipal">
        <header>
            <div class="titheader">
                <h1>Baguette <span class="titprinc">panadería-pastelería</span></h1>
            </div>
            <nav class="barranav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="./images/iconomenham.png"></label>
                <ul class="menu">
                    <li><a href="../../index.html">Nuestra Empresa</a></li>
                    <li><a href="./nuestrosproductos.html">Nuestros Productos</a></li>
                    <li class="active"><a href="vereventos.html">Galería de Imágenes</a></li>
                    <li><a href="./contacto.html">Contacto-Ubicación</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside class="aside1"></aside>
            <div class="pageimagmain">
              <div class="imagesmain">

                <div class="container">
                  <div class="row">                
                    <div id="carouselExample" class="carousel slide"    data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExample" data-slide-to="1"></li>
                        <li data-target="#carouselExample" data-slide-to="2"></li>
                        <li data-target="#carouselExample" data-slide-to="3"></li>
                        <li data-target="#carouselExample" data-slide-to="4"></li>
                        <li data-target="#carouselExample" data-slide-to="5"></li>
                      </ol>

                      <div class="carousel-inner">
                        <div class="carousel-item imagmejorada active">
                          <img src="./images/evento1.jpg" alt="Imagen catering">
                        </div>
                        <div class="carousel-item imagmejorada">
                          <img src="./images/evento2.jpg" alt="Imagen catering">
                        </div>
                        <div class="carousel-item imagmejorada">
                          <img src="./images/evento3.jpg" alt="Imagen catering">
                        </div>
                        <div class="carousel-item imagmejorada">
                          <img src="./images/cattering1.jpg" alt="Imagen catering">
                        </div>
                        <div class="carousel-item imagmejorada">
                          <img src="./images/cattering2.jpg" alt="Imagen catering">
                        </div>
                        <div class="carousel-item imagmejorada">
                          <img src="./images/cattering3.jpg" alt="Imagen catering">
                        </div>
                      </div>

                      <a href="#carouselExample" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                      </a>

                      <a href="#carouselExample" class="carousel-control-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="footermain">
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-instagram fa-2xl"></i>    
              </div>
            </div>  
            <aside class="aside2"></aside>
        </main>
        <footer>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>    
</body>
</html>