<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Baguette panadería-pastelería.Mirá nuestra galería de eventos.Visitanos, contratá nuestros servicios.</title>
    <meta name="keywords" content="Panadería Baguette,Baguette Av.Lavalle Posadas,Baguette,Panadería,Pastelería,Refrigerios,Refrigerios saludables,Lunch">
    <meta name="description" content="Te invitamos a conocernos, tenemos más de 60 años de trayectoria. Además brindamos Servicios de Lunch y Repartos a domicilio">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/logopan2.png" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">
    <script src="https://kit.fontawesome.com/1990a318e1.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="contprincipal">
        <header>
            <div class="titheader">
                <h1>Baguette <span class="titprinc">panadería-pastelería</span>
                <img src="./images/logopan2.png" alt="Logo de Baguette"></h1>
            </div>
            <nav class="barranav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="./images/iconomenham.png"></label>
                <ul class="menu">
                    <li><a href="../../index.html">Nuestra Empresa</a></li>
                    <li><a href="./nuestrosproductos.html">Nuestros Productos</a></li>
                    <li class="active"><a href="vereventos.html">Galería de Imágenes</a></li>
                    <li><a href="./contacto.html">Contacto-Ubicación</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside class="aside1"></aside>
            <div class="pageimagmain">
              <div class="carruselmain">

                <div id="carouselExampleControls" class="carousel slide"    data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="./images/cattering1.jpg" class="d-block w-100" alt="Mesa de evento con porciones individuales de ensaladas, bocaditos salados y dulces">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering2.jpg" class="d-block w-100" alt="Mesa de evento con variedad de sandwiches">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering3.jpg" class="d-block w-100" alt="Mesa de evento con variedad de ensaladas y comida caliente">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering4.jpg" class="d-block w-100" alt="Mesa de evento con tabla de pinchos de fiambres y quesos">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering5.jpg" class="d-block w-100" alt="Mesa de evento con variedad de tarteletas y bocaditos salados">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering6.jpg" class="d-block w-100" alt="Mesa de evento con variedad de bocaditos">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering7.jpg" class="d-block w-100" alt="Mesa de evento con variedad de bocaditos salados">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering8.jpg" class="d-block w-100" alt="Mesa de evento con macarons, muffins, tarteletas dulces">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering9.jpg" class="d-block w-100" alt="Mesa de dulces en evento">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/cattering10.jpg" class="d-block w-100" alt="Mesa de dulces de una boda">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div> 
              <div class="footermain">
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
              </div>
            </div>  
            <aside class="aside2"></aside>
        </main>
        <footer>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>    
</body>
</html>